<!DOCTYPE html>
        <html>
        <head>
        <title>Bootstrap Tags Input</title>
<meta name="robots" content="index, follow" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />


        <link rel="stylesheet" href="<?php echo base_url("assets/css/bootstrap.min.css"); ?>" >
        <link rel="stylesheet" href="<?php echo base_url("assets/css/tag/docs.css"); ?>">
        <link rel="stylesheet" href="<?php echo base_url("assets/css/tag/bootstrap-tagsinput.css"); ?>" >
        <link rel="stylesheet" href="<?php echo base_url("assets/css/tag/app.css"); ?>" >

        </head>
        <body>

<div class="example example_typeahead">
<div class="bs-docs-example">
        <input type="text" value=" " />
        </div>
</div>


<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script src="<?php echo base_url("assets/js/tag/bootstrap.min.js"); ?>"></script>
<script src="<?php echo base_url("assets/js/tag/bootstrap-tagsinput.js"); ?>"></script>
<script src="<?php echo base_url("assets/js/tag/bootstrap-tagsinput-angular.js"); ?>"></script>
<script src="<?php echo base_url("assets/js/tag/app_bs2.js"); ?>"></script>
<script src="<?php echo base_url("assets/js/tag/app.js"); ?>"></script>

</body>
</html>

